Subject: Bạn đã tạo mới tài khoản website WOWI Việt Nam thành công

{{> header}}

{{!-- <center> --}}
<div style="padding:0px;width:600px;margin:auto;background: #FFFFFF repeat top /100%;color:#777777">
    <p>Chào bạn {{shopOwnerName}},</p>
    <p>Chào mừng bạn đến với website WOWI Việt Nam</p>
<!--    <p>FEAER website tặng bạn mã giảm giá 5% cho đơn hàng đầu tiên khi kích hoạt link đăng ký dưới đây</p>-->
<!--    <div style="text-align: center; margin-top: 16px;">-->
<!--        <a href="" style="padding: 5px 10px; font-size: 12px; line-height: 18px; color: #FFFFFF; border-color:#2196f3; text-decoration: none; display: inline-block; margin-bottom: 0px; font-weight: 400; text-align: center; vertical-align: middle; cursor: pointer; white-space: nowrap; background-image: none; background-color: #2196f3; border: 1px solid #2196f3; border-radius:3px">-->
<!--            Kích hoạt mã giảm giá</a>-->
<!--    </div>-->
    <p>Best regards</p>
</div>
{{!-- </center> --}}

{{> footer}}
